spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  application:
    name: whiplash
  jackson:
    time-zone: Asia/Seoul
  config:
    import:
      - mysql.yml
      - swagger.yml
      - jwt.yml
      - redis.yml
      - oauth.yml
      - naver.yml
      - sentry.yml

server:
  forward-headers-strategy: framework

management:
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true # 여러 서버의 메트릭을 집계하여 더 정확한 메트릭(p95, p99등)을 측정, 다중 서버 환경에서 management.metrics.distribution.percentiles보다 더 정확하게 측정 가능
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

---
spring.config.activate.on-profile: local

spring:
  config:
    import:
      - optional:classpath:env.properties

logging:
  level:
    root: INFO

---
spring.config.activate.on-profile: dev

spring:
  config:
    import:
      - optional:classpath:env.properties

logging:
  level:
    root: INFO

---
spring.config.activate.on-profile: prod

spring:
  config:
    import:
      - optional:classpath:env.properties

logging:
  level:
    root: INFO